
chapters/.DS_Store

.DS_Store

penrose_solutions.aux

penrose_solutions.fdb_latexmk

penrose_solutions.fls

penrose_solutions.idx

penrose_solutions.ilg

penrose_solutions.ind

penrose_solutions.log

penrose_solutions.pdf

penrose_solutions.synctex.gz

penrose_solutions.toc
